*.keras
*.h5
*.java

out/
.vscode/
.jython_cache/
app/java/
app/__pycache__/
app/main/__pycache__/
app/main/util/__pycache__/
app/main/service/__pycache__/
app/main/consumer/__pycache__/
app/main/processor/__pycache__/

app/main/data/annotations/*
!app/main/data/annotations/.gitkeep

app/main/data/cropped_images/training/Impacted/*
!app/main/data/cropped_images/training/Impacted/.gitkeep

app/main/data/cropped_images/training/Implant/*
!app/main/data/cropped_images/training/Implant/.gitkeep

app/main/data/cropped_images/validation/Impacted/*
!app/main/data/cropped_images/validation/Impacted/.gitkeep

app/main/data/cropped_images/validation/Implant/*
!app/main/data/cropped_images/validation/Implant/.gitkeep

app/main/data/images/*
!app/main/data/images/.gitkeep

app/main/data/results/GoogleNet/*
!app/main/data/results/GoogleNet/.gitkeep

app/main/data/results/ResNet50v2/*
!app/main/data/results/ResNet50v2/.gitkeep

app/main/data/results/VGG16/*
!app/main/data/results/VGG16/.gitkeep