pyyaml==6.0.1
Pillow==10.4.0
numpy==1.26.4
scipy==1.13.1
opencv-python==4.10.0.84
scikit-image==0.24.0
keras==3.4.1
tensorflow==2.17.0
scikit-learn==1.5.1
matplotlib==3.9
omegaconf==2.3.0
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
# Optional in case you want to test MSTHGR or test files with jython:
# jpype1==1.5.0\
# pyjnius==1.6.1
# conda install mamba -n base -c conda-forge
# mamba install -n ppgca -c conda-forge pyimagej openjdk=8
# What I used: 
# conda install -n ppgca -c conda-forge pyimagej openjdk=8
# Do not forget to reference %JAVA_HOME%  jdk path in your OS!!!